<!-- Contact -->
<section>
	<div class="inner">
		<section>
			<div class="contact-method">
				<span class="icon alt fa-exclamation-triangle"></span>
				<h3>BEFORE CONTACTING ME ...</h3>
				<p>
					You can get all the codes from my <a href="https://www.github.com/arunprasaad2711" target="_blank">GitHub</a> account. 
					For any announcement regarding my 
					<a href="https://www.youtube.com/channel/UCUJFj-PXuWLRfFFHA44ZGYw" target="_blank">YouTube</a> channel, 
					you can just follow my YouTube channel and you won't miss anything. Don't worry, I won't spam you :D. 
					You can mail me through my <a href="mailto:arunprasaad2711@gmail.com" target="_blank">Email</a> for your queries. Don't take it personal 
					if I do not reply to your mails. I get quite a lot 
					of them and it is hard to keep track. That said, if you
					want me to teach you or a group, I'm open to that 
					and your mails get high-priority. Feedbacks and 
					suggestions and criticim are always welcome. I 
					follow the <a href="https://www.quora.com/What-is-Quoras-Be-Nice-Be-Respectful-policy" target="_blank">
					Be Nice, Be Respectful</a> policy of Quora seriously.
					If you feel like donating, you can go to my <a href="https://www.patreon.com/FluidicColours" target="_blank">
					Patreon Account.</a>
				</p>
			</div>
		</section>
	</div>
</section>
