<!-- Header -->
<header id="header" class="alt">
	
	{% if L1 %}
		<a href="./../index.html" class="logo"><strong>Fluidic Colours</strong>  <span>by Arun</span></a>
	{% elif L2 %}
		<a href="./../../index.html" class="logo"><strong>Fluidic Colours</strong>  <span>by Arun</span></a>
	{% else %}
		<a href="index.html" class="logo"><strong>Fluidic Colours</strong>  <span>by Arun</span></a>
	{% endif %}
	
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% if L1 %}
		<li><a href="./../index.html">Home</a></li>
		<li><a href="./../blogs.html">Blogs</a></li>
		<li><a href="./../syntax.html">Coding and Software Notes</a></li>
		<li><a href="./../science.html">Science Notes</a></li>
		<li><a href="./../maths.html">Mathematics Notes</a></li>
		<li><a href="./../apps.html">Useful Apps</a></li>
		<li><a href="./../faq.html">FAQs</a></li>
		{% elif L2 %}
		<li><a href="./../../index.html">Home</a></li>
		<li><a href="./../../blogs.html">Blogs</a></li>
		<li><a href="./../../syntax.html">Coding and Software Notes</a></li>
		<li><a href="./../../science.html">Science Notes</a></li>
		<li><a href="./../../maths.html">Mathematics Notes</a></li>
		<li><a href="./../../apps.html">Useful Apps</a></li>
		<li><a href="./../../faq.html">FAQs</a></li>
		{% else %}
		<li><a href="./index.html">Home</a></li>
		<li><a href="./blogs.html">Blogs</a></li>
		<li><a href="./syntax.html">Coding and Software Notes</a></li>
		<li><a href="./science.html">Science Notes</a></li>
		<li><a href="./maths.html">Mathematics Notes</a></li>
		<li><a href="./apps.html">Useful Apps</a></li>
		<li><a href="./faq.html">FAQs</a></li>
		{% endif %}
	</ul>
</nav>
