<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python and Web Programming | Jinja2 | Fluidic Colours</title>

    
	<link rel="stylesheet" href="../../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../../assets/css/noscript.css" /></noscript>

    

    </head>
    
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
<header id="header" class="alt">
	
	
		<a href="./../../index.html" class="logo"><strong>Fluidic Colours</strong>  <span>by Arun</span></a>
	
	
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		
		<li><a href="./../../index.html">Home</a></li>
		<li><a href="./../../blogs.html">Blogs</a></li>
		<li><a href="./../../syntax.html">Coding and Software Notes</a></li>
		<li><a href="./../../science.html">Science Notes</a></li>
		<li><a href="./../../maths.html">Mathematics Notes</a></li>
		<li><a href="./../../apps.html">Useful Apps</a></li>
		<li><a href="./../../faq.html">FAQs</a></li>
		
	</ul>
</nav>
        
        <section>
            <div class="inner align-justify">
                <h1 id="jinja2-notes">Jinja2 Notes</h1>
<h2 id="what-is-it">What is it?</h2>
<p>Jinja is a template engine (it is like a language on its own) that helps to place strings in documents. Essentially, you have a document with placeholders or variables called template. The data to be placed is provided by another file or from user.</p>
<p>Jinja takes the data from the user and places it at the placeholders in the template to give you the desired document.</p>
<p>This is more powerful than the built-in string formatter of Python.</p>
<p>It is used with Flask and Django web frameworks for making web pages.</p>
<p>However, it is generic in nature and can be used in many ways.</p>
<p>These notes are taken from <a href="https://www.youtube.com/watch?v=bxhXQG1qJPM">a YouTube Tutorial on Jinja2 by Jason Rigden</a></p>
<h2 id="example">Example</h2>
<p>Let’s say that the template file had a sentence like this:</p>
<div class ="highlight"><pre>{{name}} had a little {{animal}}</pre></div>
<p>Here, <code>name</code> is a variable and it is placed within backticks. Same with <code>animal</code>. The curly brackets are placeholders for the variables.</p>
<p>Suppose <code>name = 'Mary'</code> and <code>animal = 'Lamb'</code> are the values provided by the user.</p>
<p>Then Jinja will take these values and replace the variables in the template to give this file:</p>
<div class ="highlight"><pre>Mary had a little Lamb</pre></div>
<h2 id="where-is-it-used">Where is it used?</h2>
<ul>
<li>Websites.</li>
<li>Making large text documents.</li>
</ul>
<h2 id="how-to-go-about-it">How to go about it?</h2>
<ul>
<li>Create a template document with placeholders.</li>
<li>Write python code to generate the output file.</li>
<li>Give data to the python file either as a text file or as direct input.</li>
<li>Run the code to generate the output file.</li>
</ul>
<h2 id="how-to-start">How to start?</h2>
<p>The following examples go from a simplistic case to an advanced case step-by-step.</p>
<h3 id="example-1-read-and-print-a-text-file.">Example 1: Read and Print a text file.</h3>
<p>Note: This is a preliminary “Hello, World!” program to sort out the basics!</p>
<ul>
<li>Open a Python file and write this line first in it.</li>
</ul>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>
</pre></div>

<ul>
<li>Create a file loader variable and pass the folder name where the template files are present.</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
</pre></div>

<ul>
<li><p>Note that the directory/folder name here can by anything!</p></li>
<li><p>Create an enviroment variable and pass the file loader variable to it.</p></li>
</ul>
<div class="highlight"><pre><span></span><span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>
</pre></div>

<ul>
<li><p>Now, the environment is ready.</p></li>
<li><p>Now, create an input text file and write contents into it. We’ll call it “hello_world.txt”</p></li>
</ul>
<div class ="highlight"><pre>Hello, world!</pre></div>
<ul>
<li>In the python file, create a template variable and pass the text to it.</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;hello_world.txt&#39;</span><span class="p">)</span>
</pre></div>

<ul>
<li>Now, create an output variable by rendering the template variable and print it.</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">()</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li><p>You can pass variables to the <code>render()</code> method. But, that is for a future example.</p></li>
<li><p>Run the python file and the output will be:</p></li>
</ul>
<div class ="highlight"><pre>Hello, World!</pre></div>
<p>This is the full code:</p>
<div class="highlight"><pre><span></span><span class="c1"># Import the required methods</span>
<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="c1"># Specify the template directory and environment </span>
<span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>

<span class="c1"># Create a template variable via environment</span>
<span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;hello_world.txt&#39;</span><span class="p">)</span>

<span class="c1"># Render the template and create an output variable.</span>
<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">()</span>

<span class="c1"># Print it out to see or export it to a new file as you see fit.</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<h3 id="example-2-adding-variables.">Example 2: Adding Variables.</h3>
<ul>
<li>Prerequisite code</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Import the required methods</span>
<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="c1"># Specify the template directory and environment </span>
<span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>
</pre></div>

<ul>
<li>Create a template file and place variables with curly bracket placeholders. Let’s call it <code>lamb.txt</code></li>
</ul>
<div class ="highlight"><pre>{{name}} had a little {{animal}}.</pre></div>
<ul>
<li>Load the template and render it with variables.</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Create a template variable via environment</span>
<span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;lamb.txt&#39;</span><span class="p">)</span>

<span class="c1"># Render the template and create an output variable.</span>
<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;Mary&#39;</span><span class="p">,</span> <span class="n">animal</span><span class="o">=</span><span class="s1">&#39;Lamb&#39;</span><span class="p">)</span>

<span class="c1"># Print it out to see or export it to a new file as you see fit.</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li>The output is</li>
</ul>
<div class ="highlight"><pre>Mary had a little Lamb.</pre></div>
<h3 id="example-3-using-dictionaries">Example 3: Using Dictionaries</h3>
<ul>
<li>Prerequisite code</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Import the required methods</span>
<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="c1"># Specify the template directory and environment </span>
<span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>
</pre></div>

<ul>
<li>Create a template file and place variables with curly bracket placeholders. Let’s call it <code>lamb.txt</code></li>
</ul>
<div class ="highlight"><pre>{{data.name}} had a little {{data.animal}}.</pre></div>
<ul>
<li>Load the template and render it with a dictionary.</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Create a template variable via environment</span>
<span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;lamb.txt&#39;</span><span class="p">)</span>

<span class="c1"># Create a dictionary</span>
<span class="n">person</span> <span class="o">=</span> <span class="p">{}</span>
<span class="n">person</span><span class="p">[</span><span class="s1">&#39;name&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="s1">&#39;Mary&#39;</span>
<span class="n">person</span><span class="p">[</span><span class="s1">&#39;animal&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="s1">&#39;Lamb&#39;</span>

<span class="c1"># Render the template and create an output variable.</span>
<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">data</span><span class="o">=</span><span class="n">person</span><span class="p">)</span>

<span class="c1"># Print it out to see or export it to a new file as you see fit.</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li>The output is</li>
</ul>
<div class ="highlight"><pre>Mary had a little Lamb.</pre></div>
<h3 id="example-4-using-if-else-statements.">Example 4: Using if-else statements.</h3>
<ul>
<li>Prerequisite code</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Import the required methods</span>
<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="c1"># Specify the template directory and environment </span>
<span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>
</pre></div>

<ul>
<li>Template file: <code>truth.txt</code></li>
</ul>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="o">%</span> <span class="k">if</span> <span class="n">truth</span> <span class="o">%</span><span class="p">}</span>
    <span class="n">This</span> <span class="ow">is</span> <span class="n">true</span>
<span class="p">{</span><span class="o">%</span> <span class="k">else</span> <span class="o">%</span><span class="p">}</span>
    <span class="n">This</span> <span class="ow">is</span> <span class="n">false</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endif</span> <span class="o">%</span><span class="p">}</span>
</pre></div>

<ul>
<li>Modifications 1: Set truth variable to be True</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;truth.txt&#39;</span><span class="p">)</span>
<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">truth</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li>Output</li>
</ul>
<div class ="highlight"><pre>This is true</pre></div>
<ul>
<li>Modifications 2: Set truth variable to be False</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;truth.txt&#39;</span><span class="p">)</span>
<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">truth</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li>Output</li>
</ul>
<div class ="highlight"><pre>This is false</pre></div>
<h3 id="example-5-for-loops-using-liststuples">Example 5: For loops using lists/tuples</h3>
<ul>
<li>Prerequisite code</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Import the required methods</span>
<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="c1"># Specify the template directory and environment </span>
<span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>
</pre></div>

<ul>
<li>Template file: <code>rainbow.txt</code></li>
</ul>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="o">%</span> <span class="k">for</span> <span class="n">colour</span> <span class="ow">in</span> <span class="n">colours</span> <span class="o">%</span><span class="p">}</span>
    <span class="p">{{</span><span class="n">colour</span><span class="p">}}</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endfor</span> <span class="o">%</span><span class="p">}</span>
</pre></div>

<ul>
<li>Modifications: Pass a list/tuple</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;rainbow.txt&#39;</span><span class="p">)</span>

<span class="n">colours</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;red&#39;</span><span class="p">,</span> <span class="s1">&#39;green&#39;</span><span class="p">,</span> <span class="s1">&#39;blue&#39;</span><span class="p">]</span>
<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">colours</span><span class="o">=</span><span class="n">colours</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li>Output</li>
</ul>
<div class ="highlight"><pre>red

green

blue</pre></div>
<h3 id="example-6-template-inheritance---combine-blocks-from-multiple-places.">Example 6: Template inheritance - combine blocks from multiple places.</h3>
<ul>
<li>Prerequisite code</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Import the required methods</span>
<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="c1"># Specify the template directory and environment </span>
<span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>
</pre></div>

<ul>
<li>Include file: <code>header.html</code> - Has the title. It will be included in the template.</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{{title}}<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
</pre></div>

<ul>
<li>Base file: <code>base.html</code> - This is the base file.</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
    {% include &#39;header.html&#39; %}
    <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>

<ul>
<li>Modifications</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;base.html&#39;</span><span class="p">)</span>

<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s2">&quot;Hey, there!&quot;</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li>Output</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Hey, there!<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>

<p>Observation: Here, the <code>base.html</code> file automatically called <code>header.html</code> file. And inside it, the title variable was automatically placed.</p>
<h3 id="example-7-template-rendering-placing-data-in-body-tag">Example 7: Template rendering + Placing data in body tag</h3>
<ul>
<li>Prerequisite code</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1"># Import the required methods</span>
<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="c1"># Specify the template directory and environment </span>
<span class="n">file_loader</span> <span class="o">=</span> <span class="n">FileSystemLoader</span><span class="p">(</span><span class="s1">&#39;templates&#39;</span><span class="p">)</span>
<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">file_loader</span><span class="p">)</span>
</pre></div>

<ul>
<li>Include file: <code>header.html</code> - Has the title. It will be included in the template.</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{{title}}<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
</pre></div>

<ul>
<li>Base file: <code>base.html</code> - This is the base file with content!</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
    {% include &#39;header.html&#39; %}
    <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    {% block content %}
    {% endblock %}
    <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>

<ul>
<li>Template file: <code>child.html</code> - Contents of this file fill be placed.</li>
</ul>
<div class="highlight"><pre><span></span>{% extends &quot;base.html&quot; %}

{% block content %}

    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
        {{body}}
    <span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

{% endblock %}
</pre></div>

<ul>
<li>Modifications</li>
</ul>
<div class="highlight"><pre><span></span><span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;child.html&#39;</span><span class="p">)</span>

<span class="n">output</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s2">&quot;Hey, there!&quot;</span><span class="p">,</span> <span class="n">body</span><span class="o">=</span><span class="s2">&quot;Brown cow!&quot;</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">output</span><span class="p">)</span>
</pre></div>

<ul>
<li>Output</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Hey, there!<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
            Brown cow!
        <span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>


            </div>
        </section>
		
        <!-- Footer -->
<footer id="footer" class="">
	<div class="inner">
		<ul class="icons">
			<li><a href="https://www.quora.com/profile/Arun-Prasaad-Gunasekaran" target="_blank" class="icon alt fa-quora"><span class="label">Quora</span></a></li>
			<li><a href="https://www.youtube.com/channel/UCUJFj-PXuWLRfFFHA44ZGYw" target="_blank" class="icon alt fa-youtube-play"><span class="label">YouTube</span></a></li>
			<li><a href="https://github.com/arunprasaad2711" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="https://www.instagram.com/fluidiccolours/" target="_blank" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="mailto:arunprasaad2711@gmail.com" target="_blank" class="icon alt fa-envelope-o"><span class="label">Mail</span></a></li>
		</ul>
		<p>
			Copyright &copy; 2018 - <script type="text/javascript">
				document.write(new Date().getFullYear());
			  </script> | Arun Prasaad Gunasekaran | Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>
		</p>
	</div>
</footer>
        
    </div>

    <!-- McAfee Trust mark -->
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

<!-- D3Js library for plotting -->
<!-- script src="https://d3js.org/d3.v5.min.js"></script-->

<!-- Plotly.js for plotting -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Moment.js - This is used for time difference calculations and time displays. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    moment().format();
</script>

<!-- BokehJS-->
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.0.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.0.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>

<!-- MathJax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML"></script>
<!-- MathJax configuration -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code'],
        TeX: {  equationNumbers: { autoNumber: "AMS" },
                extensions: ["AMSmath.js", "AMSsymbols.js"] }
    },
    // Center justify equations in code and markdown cells. Elsewhere
    // we use CSS to left justify single line equations in code cells.
    displayAlign: 'center',
    "HTML-CSS": {
        fonts: ["TeX"],
        styles: {'.MathJax_Display': {"margin": 0}},
        linebreaks: { automatic: true }
    }
});
</script>


    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/jquery.scrolly.min.js"></script>
    <script src="../../assets/js/jquery.scrollex.min.js"></script>
    <script src="../../assets/js/browser.min.js"></script>
    <script src="../../assets/js/breakpoints.min.js"></script>
    <script src="../../assets/js/util.js"></script>
    <script src="../../assets/js/main.js"></script>



</body>
</html>
