code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
  }
  pre {
    margin: 1em 0;
    overflow: auto;
  }
  pre code {
    padding: 0;
    overflow: visible;
  }
  .sourceCode {
   background-color: whitesmoke;
   overflow: visible;
  }
  hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
  }
  code{white-space: pre-wrap;}
  span.smallcaps{font-variant: small-caps;}
  span.underline{text-decoration: underline;}
  div.column{display: inline-block; vertical-align: top; width: 50%;}
  div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
  ul.task-list{list-style: none;}
  pre > code.sourceCode { white-space: pre; position: relative; }
  pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
  pre > code.sourceCode > span:empty { height: 1.2em; }
  .sourceCode { overflow: visible; }
  code.sourceCode > span { color: inherit; text-decoration: inherit; }
  div.sourceCode { margin: 1em 0; border: 1px #cccccc solid;}
  pre.sourceCode { margin: 1em; }
  @media screen {
  div.sourceCode { overflow: auto; }
  }
  @media print {
  pre > code.sourceCode { white-space: pre-wrap; }
  pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
  }
  pre.numberSource code
    { counter-reset: source-line 0; }
  pre.numberSource code > span
    { position: relative; left: -4em; counter-increment: source-line; }
  pre.numberSource code > span > a:first-child::before
    { content: counter(source-line);
      position: relative; left: -1em; text-align: right; vertical-align: baseline;
      border: none; display: inline-block;
      -webkit-touch-callout: none; -webkit-user-select: none;
      -khtml-user-select: none; -moz-user-select: none;
      -ms-user-select: none; user-select: none;
      padding: 0 4px; width: 4em;
      color: #aaaaaa;
    }
  pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
  div.sourceCode
    {   }
  @media screen {
  pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
  }
  code span.al { color: #ff0000; } /* Alert */
  code span.an { color: #008000; } /* Annotation */
  code span.at { } /* Attribute */
  code span.bu { } /* BuiltIn */
  code span.cf { color: #0000ff; } /* ControlFlow */
  code span.ch { color: #008080; } /* Char */
  code span.cn { } /* Constant */
  code span.co { color: #008000; } /* Comment */
  code span.cv { color: #008000; } /* CommentVar */
  code span.do { color: #008000; } /* Documentation */
  code span.er { color: #ff0000; font-weight: bold; } /* Error */
  code span.ex { } /* Extension */
  code span.im { } /* Import */
  code span.in { color: #008000; } /* Information */
  code span.kw { color: #0000ff; } /* Keyword */
  code span.op { } /* Operator */
  code span.ot { color: #ff4000; } /* Other */
  code span.pp { color: #ff4000; } /* Preprocessor */
  code span.sc { color: #008080; } /* SpecialChar */
  code span.ss { color: #008080; } /* SpecialString */
  code span.st { color: #008080; } /* String */
  code span.va { } /* Variable */
  code span.vs { color: #008080; } /* VerbatimString */
  code span.wa { color: #008000; font-weight: bold; } /* Warning */