<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | Fluidic Colours</title>

    {% if L1 %}
	<link rel="stylesheet" href="../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    <!--link rel="stylesheet" href="../assets/css/prism.css"-->

    <!-- p5.js local copy -->
    <!-- commenting them out as they are being rendered externally. -->
    <!-- <script type="text/javascript" src="../assets/js/p5js/p5.min.js"></script>
    <script type="text/javascript" src="../assets/js/p5js/addons/p5.dom.min.js"></script>
    <script type="text/javascript" src="../assets/js/p5js/addons/p5.sound.min.js"></script> -->

    {% elif L2 %}
	<link rel="stylesheet" href="../../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../../assets/css/noscript.css" /></noscript>
    <!--link rel="stylesheet" href="../../assets/css/prism.css"-->

    <!-- p5.js local copy -->
    <!-- commenting them out as they are being rendered externally. -->
    <!-- <script type="text/javascript" src="../../assets/js/p5js/p5.min.js"></script>
    <script type="text/javascript" src="../../assets/js/p5js/addons/p5.dom.min.js"></script>
    <script type="text/javascript" src="../../assets/js/p5js/addons/p5.sound.min.js"></script> -->

    {% else %}
	<link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <!--link rel="stylesheet" href="assets/css/prism.css"-->

    <!-- p5.js local copy -->
    <!-- commenting them out as they are being rendered externally. -->
    <!-- <script type="text/javascript" src="assets/js/p5js/p5.min.js"></script>
    <script type="text/javascript" src="assets/js/p5js/addons/p5.dom.min.js"></script>
    <script type="text/javascript" src="assets/js/p5js/addons/p5.sound.min.js"></script> -->

    {% endif %}

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.6/processing.min.js"></script> -->

    <!-- Code highlight using Highlighter JS -->
    <!--link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/railscasts.min.css"-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/ocean.min.css">

    <!--
        For source code, go here: https://github.com/highlightjs/highlight.js
    -->

    <!-- Moment.js - This is used for time difference calculations and time displays. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        moment().format();
    </script>

    <!-- BokehJS-->
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

    <!-- <script>
		
		window.onload = function() {
			$("pre").addClass("prettyprint");
			$("code").addClass("prettyprint");
		};

	</script> -->

</head>
