<!-- Main -->
<!-- One -->
<section id="one">

    <div class="inner">

        <header class="major">
            <h1>About Me</h1>
        </header>

        <header class="major">
            <h4>Who am I?</h4>
        </header>

        <p>
            My name is Arun Prasaad Gunasekaran. As of now, i'm 
            <script type="text/javascript">
                var m1 = moment("27.09.1991", "DD.MM.YYYY")
                var m2 = moment()
                years = m2.diff(m1, 'years')
                document.write(years);
                // document.write(m1.years());
            </script> years old. I'm an avid science student and a fellow human being.
        </p>

        <header class="major">
            <h4>What are my Academic Qualifications?</h4>
        </header>

        <p>
            My name is Arun Prasaad Gunasekaran. As of now, i'm 
            <script type="text/javascript">
                var m1 = moment("27.09.1991", "DD.MM.YYYY")
                var m2 = moment()
                years = m2.diff(m1, 'years')
                document.write(years);
                // document.write(m1.years());
            </script> years old. I'm an avid science student and a fellow human being.
        </p>

    </div>

</section>
    