<!-- One -->
<section id="one" class="tiles">
    <article>
        <span class="image">
            <!--img src="images/pic01.jpg" alt="" /-->
            <img src="images/blog.png" alt="" />
        </span>
        <header class="major">
            <h3><a href="./blogs.html" class="link">Fluidic Colours</a></h3>
            <p>Collection of all my writings</p>
        </header>
    </article>
    <article>
        <span class="image">
            <!--img src="images/pic02.jpg" alt="" /-->
            <img src="images/syntax.png" alt="" />
        </span>
        <header class="major">
            <h3><a href="./syntax.html" class="link">Syntax</a></h3>
            <p>My Software and Coding notes</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic03.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="./science.html" class="link">Continuum</a></h3>
            <p>My Science Notes</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic04.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="./maths.html" class="link">Derivative</a></h3>
            <p>My Mathematics Notes</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic05.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="./apps.html" class="link">Useful Apps</a></h3>
            <p>You'll thank me later :)</p>
        </header>
    </article>
    <article>
        <span class="image">
            <!--img src="images/pic06.jpg" alt="" /-->
            <img src="images/special_picture.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="./faq.html" class="link">FAQs</a></h3>
            <p>Some questions you might ask.</p>
        </header>
    </article>
</section>
