<!-- Main -->
<section id="">

    <div class="inner">
    
        <header class="major">
            <h1>Programming</h1>
        </header>

        <header class="major">
            <h4>Jinja2</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Jinja2/Jinja2.html">Jinja2</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Bokeh</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Bokeh/Bokeh_test1.html">Bokeh Test 1</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Plotly</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Plotly/Plotly_test1.html">Plotly Test 1</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>C Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/C/C_Programming.html">C Programming</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>C++ Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/CPP/CPP_programming.html">C++ Programming</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Cascading Style Sheet 3</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/CSS3/CSS3.html">CSS3</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Hyper Text Markup Language 5</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/HTML5/HTML5.html">HTML5</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Hyper Text Markup Language 5 and Cascading Style Sheet 3</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/HTML5_CSS3/HTML5_CSS3_001_Intro.html">001 Introduction</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/HTML5_CSS3/HTML5_CSS3_002_Installation_and_Setup.html">002 Installation and Setup of VSCode</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
					<li> <a target="_blank" href="./syntax/HTML5_CSS3/HTML5_CSS3_003_Parts_of_a_webpage.html">003 Parts of a Webpage</a></li>
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Java Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Java/Java_programming.html">Java</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>JavaScript Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/JavaScript/JavaScript.html">JavaScript</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Message Passing Interface - Fortran Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/MPI/MPI.html">MPI</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>ProcessingJs Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/ProcessingJS/ProcessingJS.html">ProcessingJS</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                        <li> <a target="_blank" href="./syntax/ProcessingJS/ProcessingJS_Games.html">ProcessingJS Gaming Notes</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
                <h4>Python Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Python/01_Intro.html">Introduction</a></li>
                    <li> <a target="_blank" href="./syntax/Python/02_Installation.html">Installation</a></li>
                    <li> <a target="_blank" href="./syntax/Python/03_Definitions.html">Definitions</a></li>
                    <li> <a target="_blank" href="./syntax/Python/04_Basics.html">Basics</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
                <h4>Shell Scripting</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Shell/Shell.html">Shell</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>
        
        <header class="major">
                <h4>Static Website Generator - Jekyll</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Jekyll/Jekyll.html">Jekyll</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>
        
        <header class="major">
                <h4>SASS</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./syntax/Sass/Sass.html">Sass</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

    </div>
        
</section>

