<!-- Main -->
<section id="">

    <div class="inner">
    
        <header class="major">
            <h1>Programming</h1>
        </header>

        <header class="major">
            <h4>Jinja2</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Jinja2/Jinja2.html">Jinja2</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>LaTeX</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/LaTeX/LaTeX.html">LaTeX</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Bokeh</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Bokeh/Bokeh_test1.html">Bokeh Test 1</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Bokeh/Bokeh_Notes.html">Bokeh</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                    <ul class="">
                            <li> <a target="_blank" href="./Syntax/Bokeh/Bokeh_test2.html">Bokeh Test 2</a></li>
                        </ul>

            </div>
        </div>

        <header class="major">
            <h4>Plotly</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Plotly/Plotly_test1.html">Plotly Test 1</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>C Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/C/C_Programming.html">C Programming</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>C++ Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/CPP/CPP_programming.html">C++ Programming</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Cascading Style Sheet 3</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/CSS3/CSS3.html">CSS3</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Hyper Text Markup Language 5</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/HTML5/HTML5.html">HTML5</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Hyper Text Markup Language 5 and Cascading Style Sheet 3</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/HTML5_CSS3/HTML5_CSS3_001_Intro.html">001 Introduction</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/HTML5_CSS3/HTML5_CSS3_002_Installation_and_Setup.html">002 Installation and Setup of VSCode</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
					<li> <a target="_blank" href="./Syntax/HTML5_CSS3/HTML5_CSS3_003_Parts_of_a_webpage.html">003 Parts of a Webpage</a></li>
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Java Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Java/Java_programming.html">Java</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>JavaScript Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/JavaScript/JavaScript.html">JavaScript</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Message Passing Interface - Fortran Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/MPI/MPI.html">MPI</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>ProcessingJS Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/ProcessingJS.html">ProcessingJS</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/ProcessingJS_Games.html">ProcessingJS Gaming Notes</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/Processing_Test1.html">Processing Test 1</a></li>
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/Processing_Test2.html">Processing Test 2</a></li>
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/Processing_Test3.html">Processing Test 3</a></li>
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Geogebra Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Geogebra/Geogebra_Test01.html">Geogebra Test 01 - Sample Animations</a></li>
                </ul>

            </div>

            <!-- <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/ProcessingJS_Games.html">ProcessingJS Gaming Notes</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/Processing_Test1.html">Processing Test 1</a></li>
                    <li> <a target="_blank" href="./Syntax/ProcessingJS/Processing_Test2.html">Processing Test 2</a></li>
                </ul>

            </div> -->
        </div>

        <header class="major">
                <h4>Python Programming</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Python/01_Intro.html">Introduction</a></li>
                    <li> <a target="_blank" href="./Syntax/Python/02_Installation.html">Installation</a></li>
                    <li> <a target="_blank" href="./Syntax/Python/03_Definitions.html">Definitions</a></li>
                    <li> <a target="_blank" href="./Syntax/Python/04_Basics.html">Basics</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

        <header class="major">
            <h4>Scientific Computation Using Python</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                        <li> <a target="_blank" href="./Syntax/Scientific_Computation_Using_Python/001_Introduction.html">001 Introduction to Scientific Computation Using Python</a></li>
                        <li> <a target="_blank" href="./Syntax/Scientific_Computation_Using_Python/004_Operations_Part1.html">004 Operations Part 1</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Scientific_Computation_Using_Python/002_MetaInfo.html">002 Meta Information and the first program</a></li>
                    <li> <a target="_blank" href="./Syntax/Scientific_Computation_Using_Python/005_HeronsFormula.html">005 Area of a triangle using Heron's formula</a></li>                    
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Scientific_Computation_Using_Python/003_PrimaryDataTypes.html">003 Primary Data Types</a></li>
                    <li> <a target="_blank" href="./Syntax/Scientific_Computation_Using_Python/006_Modified_HeronsFormula.html">006 Modified Heron's Formula</a></li>                    
                </ul>

            </div>
        </div>

        <header class="major">
                <h4>Shell Scripting</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Shell/Shell.html">Shell</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>
        
        <header class="major">
                <h4>Static Website Generator - Jekyll</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Jekyll/Jekyll.html">Jekyll</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>
        
        <header class="major">
                <h4>SASS</h4>
        </header>

        <div class="row">
            <div class="col-4 col-12-medium">

                <ul class="">
                    <li> <a target="_blank" href="./Syntax/Sass/Sass.html">Sass</a></li>
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>

            <div class="col-4 col-12-medium">

                <ul class="">
                </ul>

            </div>
        </div>

    </div>
        
</section>

